@import "tailwindcss";

html,
body,
#root {
  width: 100%;
}

body {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

 @theme {
  --color-primary: #0A122B;
  --color-secondary: #FD761A;
  --color-greenn: #049c32;
  --color-grey: #94A3B8;
  --color-grey2: #334155;
  --color-bluee: #1D4ED8;
  --font-display: "Manrope", sans-serif;
}
